<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% include "modules/description.html" %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{ static_url('css/style.css') }}">
	<script src="/static/js/modernizr.custom.43438.js"></script>
	<title>Bitusenet • Usenet access for crypto currencies</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<h4>{{price}} {{currency}} {{address}}</h4>

					<div id="qrcode"></div>
					<a href="{{currency}}coin:{{address}}?amount={{price}}&label=bitusenet.com&message=1%20months%20usenet%20access">{{currency}}coin</a>
					<div class="socket"></div>
				</div>
			</div>
		</div>
	</section>
</body>	

<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/javascript.js"></script>
<script src="/static/js/qrcode.min.js"></script>
<script>

$(document).ready(function() {
	var qrcode = new QRCode(document.getElementById("qrcode"), {
	    text: "{{currency}}coin:{{address}}?amount={{price}}",
	    width: 128,
	    height: 128,
	    colorDark : "#000000",
	    colorLight : "#ffffff",
	    correctLevel : QRCode.CorrectLevel.H
	});

	if (Modernizr.websockets) {
		$(".socket").text("Websockets supported");
	} else {
		$(".socket").text("Websockets not supported");
	}

	var ws = new WebSocket("ws://ec2-54-221-32-214.compute-1.amazonaws.com:8000/socket?address={{address}}");
	ws.onopen = function() {
		ws.send("Message to send");
	};
	ws.onmessage = function (e) {
		$(".socket").text(e.data);
	};
})

</script>
</html>
