<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% include "modules/description.html" %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{ static_url('css/style.css') }}">
	<title>Bitusenet • Usenet access for crypto currencies</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="bitcoin:1LKBHMEY5hnB8PeCXAq2FkRCb13rMHawfP?amount=0.0025&label=bitusenet&message=1%20months%20usenet%20access">bitcoin</a>
				</div>
			</div>
		</div>
	</section>
</body>	

<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/javascript.js"></script>
<script>

$(document).ready(function() {
	console.log('oh yea');
})

</script>
</html>
